// .input-property {
//   display: flex;
//   flex-direction: column;
//   gap: 2px;
// }

p {
  margin: 0;
}
.hide {
  opacity: 0.25;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}
